<!--include header -->
<%- include('include/header.ejs') %>

		<div id="login">
			<form action="/login" method="post">
			<p style="color:red;" id="message"><%=message%></p>
			<h1 style="text-align:center;">Login</h1>
			<label>User Mail-ID :</label>
			<input type="email" name="mail" placeholder="Mail ID"><br><br>
			<label>Password :</label>
			<input type="Password" name="password" placeholder="Password"><br><br>
			<button type="submit" name="submit" >Login</button><br>
			</form>
		</div>

<!--include footer -->
<%- include('include/footer.ejs') %>