@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    font-family: Pacifico;
    font-size: 30px
}

    .logo i {
        color: #fff;
        margin-right: 5px;
    }

.nav-links {
    list-style: none;
    display: flex;
}

nav ul li a:hover {
    color: #FFE4A7;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #FFFAD7;
    text-decoration: none;
}

header {
    background-image: linear-gradient(to bottom right, #000000, #4E4FEB, #068FFF);
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.message {
    background-color: #A7EDE7;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

    .message i {
        color: #333;
        margin-right: 10px;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #FFE4A7;
    color: #333;
}
