@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background: radial-gradient(#DDE2F0, #A9BACB);
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

    nav .logo {
        display: flex;
        align-items: center;
        color: #fff;
        font-family: Pacifico;
        font-size: 30px;
    }

        nav .logo i {
            margin-right: 5px;
            margin-left: 20px;
        }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            margin-left: 20px;
        }

            nav ul li a {
                color: #FFFAD7;
                text-decoration: none;
                margin-right: 15px;
            }

                nav ul li a:hover {
                    color: #FFE4A7;
                }

header {
    text-align: center;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.message {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.btn {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn:hover {
        background-color: #45a049;
    }

    .btn:active {
        background-color: #3e8e41;
    }
